<!DOCTYPE html>
<html>
<head>
	
	<title>Maharashtra District Level Map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.js"></script>	

</head>
    <body>
        <div>
            <h1 style="margin: 3px 33%;">Maharashtra Map District Level</h1>
            <div style="margin: 0% 9%;">
                <div id="mapid" style="width: 1100px; height: 530px;"></div> 
                <div style="margin:0px ;">Click on the mark for Census Details &nbsp; | &nbsp; Click on the circle for Infrastructure Facility Details</div>
            </div>
            
            <footer style="margin: 3px 40%; background-color: aliceblue;">
                Made with ❤ | <a href="https://github.com/divvu">Github</a> | <a href="https://www.linkedin.com/in/divyansh-singh-a3481436/">Divyansh Singh</a>
            </footer>
        </div>

        <script>
	    var _0x284d=['PGJyIC8+VHJhbg==','RmFjaWxpdHk6IA==','cG9wdWxhdGlvbg==','aT48L2I+PGJyIA==','bWFw','bGl0eTog','bWFya2Vy','aHR0cHM6Ly9hcA==','Li4vZGF0YS9kYQ==','bG9jYXRpb24=','YWxpemF0aW9uIA==','dGlsZUxheWVy','I2YwMw==','dT5DZW5zdXMgRA==','aWw8L3U+IDo8Lw==','eCBSYXRpbzog','Y2xpY2s=','Lz5CYW5raW5nIA==','dG9TdHJpbmc=','QmVsb3cgdmlzdQ==','ZXI+PGI+PGk+PA==','YldGd1ltOTRJaQ==','IHN0eWxlPSdjbw==','cmVk','PGJyIC8+SG9zcA==','YkI2QjVhdw==','bWFwaWQ=','aG9zcGl0YWxfZg==','YmFua2luZ19m','QTJlbVl5Y1hCbg==','ay5leUoxSWpvaQ==','PGNlbnRlcj48Yg==','YmluZFBvcHVw','WW91IGNsaWNrZQ==','bG9yOiBncmVlbg==','c2V0TGF0TG5n','c2V0Vmlldw==','d2lZU0k2SW1OcA==','Oyc+','bGF0bG5n','YnIgLz5Qb3B1bA==','bWFwYm94L3N0cg==','c3NfdG9rZW49cA==','aW5nIGR1bW15IA==','bG9uZ2l0dWRl','aXRhbCBGYWNpbA==','cG9wdXA=','fS97eX0/YWNjZQ==','aXMgZG9uZSB1cw==','c2V4X3JhdGlv','djEve2lkfS90aQ==','Y3N2','PC9iPjwvY2VudA==','bGVzL3t6fS97eA==','aXR5OiA=','bGF0aXR1ZGU=','dT5JbmZyYXN0cg==','IEs8YnIgLz5TZQ==','ZCB0aGUgbWFwIA==','YWRkVG8=','b20vc3R5bGVzLw==','Zm9yRWFjaA==','Y2lyY2xl','ZGF0YS4=','Z2lmUS5ySmNGSQ==','ZXRhaWw8L3U+IA=='];(function(_0x25e367,_0x284d80){var _0x220949=function(_0x322cce){while(--_0x322cce){_0x25e367['push'](_0x25e367['shift']());}};_0x220949(++_0x284d80);}(_0x284d,0x103));var _0x2209=function(_0x25e367,_0x284d80){_0x25e367=_0x25e367-0x0;var _0x220949=_0x284d[_0x25e367];if(_0x2209['pGwjDP']===undefined){(function(){var _0x39c346=function(){var _0x116b7a;try{_0x116b7a=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x4961e6){_0x116b7a=window;}return _0x116b7a;};var _0x1c5708=_0x39c346();var _0x159b6c='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x1c5708['atob']||(_0x1c5708['atob']=function(_0x253142){var _0x18e693=String(_0x253142)['replace'](/=+$/,'');var _0x13941b='';for(var _0x293502=0x0,_0x507802,_0x4b2a2b,_0x1b2c0d=0x0;_0x4b2a2b=_0x18e693['charAt'](_0x1b2c0d++);~_0x4b2a2b&&(_0x507802=_0x293502%0x4?_0x507802*0x40+_0x4b2a2b:_0x4b2a2b,_0x293502++%0x4)?_0x13941b+=String['fromCharCode'](0xff&_0x507802>>(-0x2*_0x293502&0x6)):0x0){_0x4b2a2b=_0x159b6c['indexOf'](_0x4b2a2b);}return _0x13941b;});}());_0x2209['envsdy']=function(_0x44deee){var _0x3e2b67=atob(_0x44deee);var _0x541ee0=[];for(var _0x239751=0x0,_0x220057=_0x3e2b67['length'];_0x239751<_0x220057;_0x239751++){_0x541ee0+='%'+('00'+_0x3e2b67['charCodeAt'](_0x239751)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x541ee0);};_0x2209['XNdNXW']={};_0x2209['pGwjDP']=!![];}var _0x322cce=_0x2209['XNdNXW'][_0x25e367];if(_0x322cce===undefined){_0x220949=_0x2209['envsdy'](_0x220949);_0x2209['XNdNXW'][_0x25e367]=_0x220949;}else{_0x220949=_0x322cce;}return _0x220949;};alert(_0x2209('0x18')+_0x2209('0xf')+_0x2209('0x35')+_0x2209('0x30')+_0x2209('0x2'));var mymap=L[_0x2209('0x9')](_0x2209('0x1f'))[_0x2209('0x29')]([18.9,76.1],6.7);L[_0x2209('0x10')](_0x2209('0xc')+'i.mapbox.c'+_0x2209('0x41')+_0x2209('0x37')+_0x2209('0x3a')+_0x2209('0x34')+_0x2209('0x2f')+_0x2209('0x23')+_0x2209('0x1a')+_0x2209('0x2a')+'ejY4NXVycT'+_0x2209('0x22')+'dHRqcmZ3N3'+_0x2209('0x3')+'G214AriISL'+_0x2209('0x1e'),{'maxZoom':0x12,'id':_0x2209('0x2e')+'eets-v11','tileSize':0x200,'zoomOffset':-0x1})[_0x2209('0x40')](mymap);d3[_0x2209('0x38')](_0x2209('0xd')+'ta.csv')['then'](function(_0x18441f){_0x18441f[_0x2209('0x0')](_0x5ebd2b=>{latlong=[parseFloat(_0x5ebd2b[_0x2209('0x3c')]),parseFloat(_0x5ebd2b[_0x2209('0x31')])];L[_0x2209('0xb')](latlong)['addTo'](mymap)[_0x2209('0x25')](_0x2209('0x24')+_0x2209('0x1b')+_0x2209('0x27')+_0x2209('0x2b')+_0x5ebd2b[_0x2209('0xe')]+(_0x2209('0x39')+_0x2209('0x19')+_0x2209('0x12')+_0x2209('0x4')+':</i></b><'+_0x2209('0x2d')+'ation:\x20')+_0x5ebd2b[_0x2209('0x7')]+(_0x2209('0x3e')+_0x2209('0x14'))+_0x5ebd2b[_0x2209('0x36')]+'\x20%');L[_0x2209('0x1')](latlong,0x1388,{'color':_0x2209('0x1c'),'fillColor':_0x2209('0x11'),'fillOpacity':0x1})['addTo'](mymap)[_0x2209('0x25')](_0x2209('0x24')+_0x2209('0x1b')+_0x2209('0x27')+_0x2209('0x2b')+_0x5ebd2b[_0x2209('0xe')]+('</b></cent'+_0x2209('0x19')+_0x2209('0x3d')+'uctre\x20Deta'+_0x2209('0x13')+_0x2209('0x8')+_0x2209('0x16')+_0x2209('0x6'))+_0x5ebd2b[_0x2209('0x21')]+(_0x2209('0x1d')+_0x2209('0x32')+_0x2209('0x3b'))+_0x5ebd2b[_0x2209('0x20')]+(_0x2209('0x5')+'sport\x20Faci'+_0x2209('0xa'))+_0x5ebd2b['transport_'+'f']);});});var popup=L[_0x2209('0x33')]();function onMapClick(_0x2a6dce){popup[_0x2209('0x28')](_0x2a6dce[_0x2209('0x2c')])['setContent'](_0x2209('0x26')+_0x2209('0x3f')+'at\x20'+_0x2a6dce[_0x2209('0x2c')][_0x2209('0x17')]())['openOn'](mymap);}mymap['on'](_0x2209('0x15'),onMapClick);
	</script>
    </body>
</html>
