<!DOCTYPE html>
<html>
<head>
	
	<title>Maharashtra District Level Map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.js"></script>	

</head>
    <body>
        <div>
            <h1 style="margin: 3px 33%;">Maharashtra Map District Level</h1>
            <div style="margin: 0% 10%;">
                <div id="mapid" style="width: 1200px; height: 600px;"></div> 
                <div style="margin:0px ;">Click on the mark for Census Details &nbsp; | &nbsp; Click on the circle for Infrastructure Facility Details</div>
            </div>
            
            <footer style="margin: 3px 40%;">
                Made with ❤ | <a href="https://github.com/divvu">Github</a> | <a href="https://www.linkedin.com/in/divyansh-singh-a3481436/">Divyansh Singh</a>
            </footer>
        </div>

        <script>
            var _0x10fb=['PGNlbnRlcj48Yg==','bGF0bG5n','cG9wdWxhdGlvbg==','YmluZFBvcHVw','dG9TdHJpbmc=','c2V0Vmlldw==','UmF0aW86IA==','Z2lmUS5ySmNGSQ==','c2V0Q29udGVudA==','PC9iPjwvY2VudA==','IHN0eWxlPSdjbw==','dWN0cmUgRGV0YQ==','bGl0eTog','aHR0cHM6Ly9hcA==','djEve2lkfS90aQ==','bG9jYXRpb24=','ZXI+PGI+PGk+PA==','bG9yOiBncmVlbg==','b3Blbk9u','Li4vZGF0YS9kYQ==','aG9zcGl0YWxfZg==','RzIxNEFyaUlTTA==','QTJlbVl5Y1hCbg==','c2V4X3JhdGlv','aS5tYXBib3guYw==','bGVzL3t6fS97eA==','b20vc3R5bGVzLw==','YldGd1ltOTRJaQ==','bWFw','bGF0aXR1ZGU=','Oyc+','ZXRhaWw8L3U+IA==','I2YwMw==','aWw8L3U+IDo8Lw==','dT5DZW5zdXMgRA==','c3NfdG9rZW49cA==','c3BvcnQgRmFjaQ==','PGJyIC8+VHJhbg==','cG9wdXA=','Y2lyY2xl','PGJyIC8+U2V4IA==','OjwvaT48L2I+PA==','ZCB0aGUgbWFwIA==','c2V0TGF0TG5n','YWRkVG8=','ay5leUoxSWpvaQ==','aXR5OiA=','bWFwYm94L3N0cg==','ZWpZNE5YVnljVA==','aXRhbCBGYWNpbA==','d2lZU0k2SW1OcA==','bG9uZ2l0dWRl','YnIgLz5Qb3B1bA==','YmFua2luZ19m','dGhlbg==','bWFya2Vy','aT48L2I+PGJyIA==','YkI2QjVhdw==','cmVk','Y3N2'];(function(_0x49f14e,_0x10fb16){var _0x6d975d=function(_0x28cbc8){while(--_0x28cbc8){_0x49f14e['push'](_0x49f14e['shift']());}};_0x6d975d(++_0x10fb16);}(_0x10fb,0x19a));var _0x6d97=function(_0x49f14e,_0x10fb16){_0x49f14e=_0x49f14e-0x0;var _0x6d975d=_0x10fb[_0x49f14e];if(_0x6d97['yhTaoY']===undefined){(function(){var _0x55d4b9;try{var _0x4f49c8=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');');_0x55d4b9=_0x4f49c8();}catch(_0x47fdf2){_0x55d4b9=window;}var _0x1775d1='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x55d4b9['atob']||(_0x55d4b9['atob']=function(_0x4620a5){var _0x7671ab=String(_0x4620a5)['replace'](/=+$/,'');var _0x45b117='';for(var _0xa3e20=0x0,_0x5a9d0c,_0x4012f4,_0x26b7d9=0x0;_0x4012f4=_0x7671ab['charAt'](_0x26b7d9++);~_0x4012f4&&(_0x5a9d0c=_0xa3e20%0x4?_0x5a9d0c*0x40+_0x4012f4:_0x4012f4,_0xa3e20++%0x4)?_0x45b117+=String['fromCharCode'](0xff&_0x5a9d0c>>(-0x2*_0xa3e20&0x6)):0x0){_0x4012f4=_0x1775d1['indexOf'](_0x4012f4);}return _0x45b117;});}());_0x6d97['RsCQPl']=function(_0x2edaad){var _0x2cf467=atob(_0x2edaad);var _0x2dad68=[];for(var _0x34023f=0x0,_0x5bffa2=_0x2cf467['length'];_0x34023f<_0x5bffa2;_0x34023f++){_0x2dad68+='%'+('00'+_0x2cf467['charCodeAt'](_0x34023f)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x2dad68);};_0x6d97['drWwDe']={};_0x6d97['yhTaoY']=!![];}var _0x28cbc8=_0x6d97['drWwDe'][_0x49f14e];if(_0x28cbc8===undefined){_0x6d975d=_0x6d97['RsCQPl'](_0x6d975d);_0x6d97['drWwDe'][_0x49f14e]=_0x6d975d;}else{_0x6d975d=_0x28cbc8;}return _0x6d975d;};var mymap=L[_0x6d97('0x26')]('mapid')[_0x6d97('0xf')]([18.9,76.1],6.7);L['tileLayer'](_0x6d97('0x17')+_0x6d97('0x22')+_0x6d97('0x24')+_0x6d97('0x18')+_0x6d97('0x23')+'}/{y}?acce'+_0x6d97('0x2d')+_0x6d97('0x37')+_0x6d97('0x25')+_0x6d97('0x0')+_0x6d97('0x3a')+_0x6d97('0x20')+'dHRqcmZ3N3'+_0x6d97('0x11')+_0x6d97('0x1f')+_0x6d97('0x7'),{'maxZoom':0x12,'id':_0x6d97('0x39')+'eets-v11','tileSize':0x200,'zoomOffset':-0x1})[_0x6d97('0x36')](mymap);d3[_0x6d97('0x9')](_0x6d97('0x1d')+'ta.csv')[_0x6d97('0x4')](function(_0x2b7e7a){_0x2b7e7a['forEach'](_0x300eca=>{latlong=[parseFloat(_0x300eca[_0x6d97('0x27')]),parseFloat(_0x300eca[_0x6d97('0x1')])];L[_0x6d97('0x5')](latlong)[_0x6d97('0x36')](mymap)[_0x6d97('0xd')](_0x6d97('0xa')+_0x6d97('0x14')+_0x6d97('0x1b')+_0x6d97('0x28')+_0x300eca[_0x6d97('0x19')]+(_0x6d97('0x13')+_0x6d97('0x1a')+_0x6d97('0x2c')+_0x6d97('0x29')+_0x6d97('0x33')+_0x6d97('0x2')+'ation:\x20')+_0x300eca[_0x6d97('0xc')]+(_0x6d97('0x32')+_0x6d97('0x10'))+_0x300eca[_0x6d97('0x21')]+'\x20%');L[_0x6d97('0x31')](latlong,0x1388,{'color':_0x6d97('0x8'),'fillColor':_0x6d97('0x2a'),'fillOpacity':0x1})[_0x6d97('0x36')](mymap)['bindPopup'](_0x6d97('0xa')+_0x6d97('0x14')+_0x6d97('0x1b')+_0x6d97('0x28')+_0x300eca[_0x6d97('0x19')]+(_0x6d97('0x13')+_0x6d97('0x1a')+'u>Infrastr'+_0x6d97('0x15')+_0x6d97('0x2b')+_0x6d97('0x6')+'/>Banking\x20'+'Facility:\x20')+_0x300eca[_0x6d97('0x3')]+('<br\x20/>Hosp'+_0x6d97('0x3b')+_0x6d97('0x38'))+_0x300eca[_0x6d97('0x1e')]+(_0x6d97('0x2f')+_0x6d97('0x2e')+_0x6d97('0x16'))+_0x300eca['transport_'+'f']);});});var popup=L[_0x6d97('0x30')]();function onMapClick(_0x49ddef){popup[_0x6d97('0x35')](_0x49ddef[_0x6d97('0xb')])[_0x6d97('0x12')]('You\x20clicke'+_0x6d97('0x34')+'at\x20'+_0x49ddef[_0x6d97('0xb')][_0x6d97('0xe')]())[_0x6d97('0x1c')](mymap);}mymap['on']('click',onMapClick);
        </script>
    </body>
</html>
